<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel ="icon" href="/img/icon.png">
    <link rel ="stylesheet" href="/css/styles.css">

</head>

<body>
     <div class="main-content">
        {{>header}}
        <p>This site was created by Yash.You can use this site to get weather information.</p>
        <image class="portrait" src="/img/nature.png"></image>
        </div>
    
    {{>footer}}
</body>
    



</html>